<app-nav></app-nav>

<div class="containerr">
  <div class="content-wrap">
    <div class="with-img-wrap">
      <div class="main-action">
        <h1>
          Sign up to create your own group, <br />
          browse other open groups <br />
          or join existing one with invitation
        </h1>
        <div class="main-buttons">
          <button [routerLink]="['/create']" href="#" class="create">
            Sign up
          </button>
          <button [routerLink]="['/join']" href="#" class="join">Join</button>
        </div>
      </div>
      <div class="landing-main-image">
        <img src="2.png" alt="" class="landing-img" />
      </div>
    </div>
    <app-how-it-works></app-how-it-works>
  </div>
  <app-footer></app-footer>
</div>
