footer {
  position: absolute;
  bottom: 0;
  height: 25rem;
  width: 100%;
  background-color: rgb(204, 200, 200);
}

.footer-wrap {
  display: flex;
  gap: 5rem;
  justify-content: center;
}

.footer-headings {
  padding: 0;
  font-size: 20px;
  color: black;
}

.menu {
  padding-bottom: 1rem;
}

.footer-first,
.footer-second,
.footer-third,
.footer-fourth {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 3rem;
}

.footer-second,
.footer-third,
.footer-fourth {
  gap: 1rem;
  padding-left: 3rem;
}

.icon-link {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
  padding-bottom: 0.5rem;
}

.footer-about-us {
  padding: 0;
  color: black;
}

.footer-icons {
  display: flex;
  gap: 1rem;
}