<app-nav></app-nav>
<!-- <p>Description: {{ tempGroups.description }}</p>-->
<div class="top-sort" *ngFor="let temGroups of groups">
  <!-- <form id="form">
    <input
      #myInput
      type="text"
      id="search"
      class="search"
      placeholder="search"
      (keyup.enter)="doSearch(myInput.value)"
    />
  </form> -->
  <!-- <button (click)="onStrictClick()">
    {{ strictButton ? "strict" : "non strict" }}
  </button> -->
  <p>{{ temGroups.size }}</p>
  <button class="second-button">size : {{ temGroups.groupName }}</button>
</div>
<div class="flex-cards">
  <div *ngFor="let tempGroups of groups" class="ngfor">
    <div class="content">
      <p class="group-name">{{ tempGroups.groupName }}</p>
      <p class="group-size">{{ tempGroups.size }}</p>
      <p
        class="strict-status"
        [ngClass]="{
          classgreen: tempGroups.strict == false,
          classred: tempGroups.strict == true
        }"
      >
        {{
          tempGroups.strict == true
            ? "strict"
            : tempGroups.strict == false
            ? "non strict"
            : "unknown"
        }}
      </p>
      <p class="description">{{ tempGroups.description }}</p>
      <p>{{ tempGroups.groupName }}</p>
    </div>
  </div>
</div>

<div class="pagination-wrap">
  <!-- <ngb-pagination
    class="d-flex justify-content-center"
    [(page)]="thePageNumber"
    [pageSize]="thePageSize"
    [collectionSize]="theTotalElements"
    [maxSize]="5"
    [boundaryLinks]="true"
    (pageChange)="listGroups()"
  >
  </ngb-pagination> -->
</div>
