<header class="header">
  <nav class="main-nav">
    <ul class="main-nav-list">
      <li>
        <a class="logo" href="#">LOGO</a>
      </li>
      <li>
        <a [routerLink]="['/about']" href="#">About</a>
      </li>
      <li>
        <a [routerLink]="['/motivation']" href="#">Motivation</a>
      </li>
      <li>
        <a [routerLink]="['/open-groups']" href="#">Open groups</a>
      </li>
      <li>
        <button [routerLink]="['/']" href="#">Log out</button>
      </li>
    </ul>
  </nav>
</header>
