<app-nav></app-nav>

<div class="about-container">
  <div class="all-text-wrapper">
    <div class="about-method-wrapper">
      <h1>The Daily Highlight Method</h1>
      <div class="whatitis-wrapper">
        <p class="whatitis-text">
          The daily highlight method is a simple prodictivity method for
          choosing the one task you have to get done before the day ends. <br />
          <br />
          Getting better work done demands singleness of purpose. The idea is to
          focus on achieving the one thing you need to get done to call your day
          successful.
          <br />
          Many people are unproductive because they have too many things they
          want to do in a single workday. They spread themselves too thin and
          accomplish nothing.
          <br />
          <br />
          However you spend your workday, you can aim to achieve the ONE thing
          that makes all the difference.
          <br />
          <br />
          What’s your daily highlight? Define that the night before and get to
          work first thing in the morning. Save yourself from the dreaded long
          to-do list.
          <br />
          Relieve yourself of the burden of a long to-do list. Start your day
          with just a single but important task that matters to your success.
          Get that done!
          <br />
          <br />
          What's the single thing you can do today?!
        </p>
        <div class="img-wrapper"></div>
      </div>
    </div>
    <div class="why-groups-container">
      <h1 class="why-groups-h1">Why Highlight groups?</h1>
      <div class="why-groups-wrapper">
        <div class="why-groups-text">
          <p class="text-above-list">
            A study on accountability was done by the Association for Talent
            Development. The researchers found that individuals have the
            following probabilities of completing a goal by taking these
            actions:
          </p>
          <ul class="actions-list">
            <li>Having an idea or goal: 10%</li>
            <li>Consciously deciding that you will do it: 25%</li>
            <li>Deciding when you will do it: 40%</li>
            <li>Planning how to do it: 50%</li>
            <li>Committing to someone that you will do it: 65%</li>
            <li class="last-action">
              <b>
                Having a specific accountability appointment with someone you’ve
                committed to: 95%</b
              >
            </li>
          </ul>
        </div>
        <div class="group-image"></div>
      </div>
    </div>
  </div>
</div>
