<app-nav></app-nav>

<body>
  <div class="pagee-wrapperr">
    <input type="checkbox" name="" id="menu-toggle" />

    <div class="sidebarr">
      <div class="brand">
        <!-- highlight logo -->
      </div>

      <div class="profile-card">
        <div
          class="profile-img"
          style="background-image: url(src/app/user-dashboard/profilepic.jpeg)"
        ></div>
        <div class="profile-info">
          <h2>{{ currentUser.username }}</h2>
          <!-- <small>Wed designer</small> -->
        </div>
        <!-- <div class="profile-action">
          <a href="" class="btn btn-white"> New group </a>
        </div> -->
        <!-- <div class="profile-icons">
          <span class="las la-user"><fa-icon [icon]="faUser"></fa-icon></span>
          <span class="las la-comment-alt"
            ><fa-icon [icon]="faMessage"></fa-icon
          ></span>
          <span class="las la-file-invoice"
            ><fa-icon [icon]="faFileInvoice"></fa-icon
          ></span>
        </div> -->
      </div>

      <div class="sidebar-menu">
        <div class="menu-item">
          <a
            [routerLink]="['/profile/home']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <span class="las la-home"
              ><img
                class="home-icon"
                src="src/app/user-dashboard/home.png"
                alt=""
            /></span>
            <span>Home</span>
          </a>
        </div>

        <div class="menu-item">
          <a
            [routerLink]="['/profile/highlights']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <span class="las la-project-diagram"
              ><img
                class="list-icon"
                src="src/app/user-dashboard/highlighter.png"
                alt=""
            /></span>
            <span>Highlights</span>
          </a>
        </div>
        <div class="menu-item">
          <a
            [routerLink]="['/profile/profile']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <span class="las la-tasks"
              ><img
                class="profile-icon"
                src="src/app/user-dashboard/user.png"
                alt=""
            /></span>
            <span>Profile</span>
          </a>
        </div>
        <div class="menu-item">
          <a
            [routerLink]="['/profile/my-groups']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <span class="las la-columns"
              ><img
                class="mygroups-icon"
                src="src/app/user-dashboard/group.png"
                alt=""
            /></span>
            <span>My groups</span>
          </a>
        </div>
        <div class="menu-item">
          <a
            [routerLink]="['/profile/chat']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <span class="las la-users-cog"
              ><img
                class="chat-icon"
                src="src/app/user-dashboard/speech-bubble.png"
                alt=""
            /></span>
            <span>Chat</span>
          </a>
        </div>
      </div>

      <div class="sidebar-card">
        <h3>Hello {{ currentUser.username }}</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero eaque
          sit nobis quo. Voluptas adipisci corrupti voluptate aliquam eaque non!
        </p>
        <a href="" class="btn btn-block btn-white">New group</a>
      </div>
    </div>

    <div class="main-content">
      <header>
        <div class="head-icon"></div>
      </header>
      <main>
        <div class="page-header">
          <!-- <h1>Some Morning</h1>
          <small>Do something</small> -->
        </div>
      </main>
    </div>
  </div>
</body>
