<div class="container">
  <app-nav></app-nav>
  <hr />
  <div class="grey-container">
    <div class="main-container">
      <form #f="ngForm" (ngSubmit)="f.form.valid && login()">
        <span [routerLink]="['/']" href="#" class="close">&times;</span>
        <div class="alert alert-danger" *ngIf="errorMessage">
          {{ errorMessage }}
        </div>
        <label for="username">Username or email</label>
        <input
          class="main-input"
          type="text"
          name="username"
          id="username"
          [(ngModel)]="user.username"
          #username="ngModel"
          required
        />
        <div class="alert-danger" *ngIf="!username.valid && f.submitted">
          Username is required
        </div>

        <label for="password">Password</label>
        <input
          type="text"
          name="password"
          id="password"
          [(ngModel)]="user.password"
          #password="ngModel"
          required
        />
        <div class="alert-danger" *ngIf="!password.valid && f.submitted">
          Password is required
        </div>

        <button class="btn-login" type="submit" value="Login">Login</button>
        <!-- <button
          [routerLink]="['/user-profile']"
          href="#"
          class="main-button"
          type="submit"
        >
          Log in
        </button> -->

        <div class="under-login">
          <a href="#">Forgot login or password?</a>
          <!--<div class="checkbox-container">
        <label class="check"
          >Keep me logged in <input class="checkbox" type="checkbox" /><span
            class="checkmark"
          ></span>
        </label>
      </div>-->
        </div>
      </form>
    </div>
  </div>
</div>
